<c-card class="mb-4">
  <c-card-header>
    <strong>{{ title }}</strong>
  </c-card-header>
  <c-card-body>
    <div>
      <form cForm (ngSubmit)="handleForm()" cForm>
        <div class="row">
            <div class="col mb-3">
                <label cLabel for="">Nombres</label>
                <input
                  cFormControl
                  name="name"
                  placeholder="Joel Marcos"
                  required
                  type="text"
                  [(ngModel)]="motorized.name"
                />
              </div>
      
              <div class="col mb-3">
                <label cLabel for="">Apellidos</label>
      
                <input
                  cFormControl
                  name="lastname"
                  placeholder="Sanchez Torres"
                  type="text"
                  required
                  [(ngModel)]="motorized.lastname"
                />
              </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label cLabel for="">Correo</label>
                <input
                  cFormControl
                  name="email"
                  placeholder="joel@gmail.com"
                  required
                  type="text"
                  [(ngModel)]="motorized.email"
                />
              </div>
      
              <div class="col mb-3">
                <label cLabel for="">Contraseña</label>
      
                <input
                  cFormControl
                  name="password"
                  placeholder="123456"
                  type="text"
                  required
                  [(ngModel)]="motorized.password"
                />
              </div>
        </div>
        <div class="row">
          <div class="col-6 mb-3">
            <label cLabel for="">Dni</label>

            <input
              cFormControl
              name="dni"
              required
              placeholder="77712378"
              type="text"
              [(ngModel)]="motorized.dni"
            />
          </div>
          <div class="col-6 mb-3">
            <label cLabel for="">Teléfono</label>
            <c-input-group>
              <span cInputGroupText>+51</span>
              <input
                cFormControl
                name="phone"
                required
                placeholder="999213321"
                type="text"
                [(ngModel)]="motorized.phone"
              />
            </c-input-group>
          </div>
        </div>

        <div class="row">
            
        <div class="col-6 mb-3">
            <label cLabel for="">Placa</label>
  
            <input
              cFormControl
              name="placa"
              required
              placeholder="SHG2-HJS2"
              type="text"
              [(ngModel)]="motorized.placa"
            />
          </div>
  
          <div class="col-6 mb-3">
            <label cLabel for="">Soat</label>
  
            <input
              cFormControl
              name="soat"
              required
              placeholder="123131"
              type="text"
              [(ngModel)]="motorized.soat"
            />
          </div>
        </div>
        <div class="mb-3">
          <label cLabel for="">Dni</label>
          <c-input-group class="mb-3">
            <input
              cFormControl
              name="dateOfBirth"
              required
              placeholder="2000-12-12"
              type="date"
              [(ngModel)]="motorized.dateOfBirth"
            />
          </c-input-group>
        </div>

        <!-- <div class="mb-3">
            <label cLabel for="exampleFormControlTextarea1">Example textarea</label>
            <textarea cFormControl id="exampleFormControlTextarea1" rows="3"></textarea>
          </div> -->
        <button cButton type="submit">Guardar</button>
      </form>
    </div>
  </c-card-body>
</c-card>
