<c-card class="mb-4">
    <c-card-header>
      <strong>{{title}}</strong>
    </c-card-header>
    <c-card-body>
      <div >
        <form cForm (ngSubmit)="handleForm()"  [validated]="nameV" cForm >
          <div class="mb-3">
            <label cLabel for="">Nombre</label>
            <input cFormControl
            
                   name="username"
                   placeholder="admin"
                  required
                   type="text"
                   [(ngModel)]="user.username"
            />
            
          </div>
          
          <div class="mb-3">
            <label cLabel for="">Contraseña</label>
           
            <input cFormControl
                   name="password"
                   placeholder="****"
                   type="text"
                   required
                   [(ngModel)]="user.password"
            />
          </div>
          
          <div class="mb-3">
            <label cLabel for="">Rol</label>
            <p style="font-weight: bold;">{{user.rol?.name}}</p>
            <select  name="category" id="" cSelect  required [(ngModel)]="user.rol"   >

                <option *ngIf="id == null" value="">Seleccionar</option>
                <option *ngFor="let rol of rols"  [ngValue]="rol" >{{rol?.name}}</option>
            </select>
            
           
           
          </div>
        
          <!-- <div class="mb-3">
            <label cLabel for="exampleFormControlTextarea1">Example textarea</label>
            <textarea cFormControl id="exampleFormControlTextarea1" rows="3"></textarea>
          </div> -->
          <button cButton  type="submit" >Guardar</button>
          
        </form>
        
      </div>
    </c-card-body>
  </c-card>

