
<div class="table-responsive">
    <div>
        <a class="btn btn-primary mb-4" >Registrar</a>
    </div>
    <table class="table table-dark table-striped ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre y Apellidos</th>
                <th>Telefono</th>
                <th>Dni</th>
                <th>Placa</th>
                <th>Fecha de nacimiento</th>
                <th>Estado</th>
                <th></th>
                <th></th>
            </tr>
        </thead>  
        <tbody class="table-group-divider">
            <tr >
                <td>1</td>
                <td>Jose Vasquez</td>
                <td>123123123</td>
                <td>12312312</td>
                <td>SFD12T</td>
                <td>12/11/2000</td>
                <td>En pedido</td>
                <td style="width:150px;"><button cButton [color]="'danger'" class="me-1"><b>Editar</b><c-icon name="cil-trash" size="lg"></c-icon></button> </td>
                <td style="width:150px;"><button cButton [color]="'warning'" class="me-1" ><b>Eliminar</b><c-icon name="cil-pencil" size="lg"></c-icon></button> </td>
            </tr>
        </tbody>
    </table>
</div>
